<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>User Form</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div><h1>Enter your data: </h1></div>
        <!-- this will send the data to the method we created in UserControler -->
        <!-- we are using method get now, because we are using @GetMapping in addUser -->
        <form action="/users/add" method="get"> 
            <input type="hidden" name="id" th:value="${user != null ? user.id : ''}">
            
            <label>Name: </label>
            <input type="text" name="name" th:value="${user != null ? user.name : ''}" required=""><br>
            <label>Email: </label>
            <input type="text" name="email" th:value="${user != null ? user.email : ''}"><br> 
            <label>Age: </label>
            <input type="text" name="age" th:value="${user != null ? user.age : ''}" required=""> <br>
            
            <Button type="submit">Save Changes</button> 
            
        </form>
    </body>
</html>
