<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>List of Users</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" th:href="@{/css/style.css}"/>
    </head>
    <body>
        <div><h1>List of Users: </h1></div>

        <table border="1">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Age</th>
                    <th>Edit</th>
                    <th>Delete</th>              
                </tr>
            </thead>
            <tbody>
                <tr th:each="u : ${users}">
                    <td th:text="${u.name}"></td>
                    <td th:text="${u.email}"></td>
                    <td th:text="${u.age}"></td>
                    <td><a th:href="@{/users/edit/{id}(id=${u.id})}" class="btn btn-edit">Edit</a></td>
                    <td><a th:href="@{/users/delete/{id}(id=${u.id})}" class="btn btn-delete">Delete</a></td>             
                </tr>
            </tbody>
        </table>

    </body>
</html>
